{{>nav}}
<section style="font-family: Calibri; font-size: 18px; margin: 10px">
    <h1 style="text-align: center;">A continuación te mostramos los productos que tenemos disponibles:</h1>
{{#if products.length}}
  {{#each products }}
  <div style="width: 600px; display: inline-block">
    <ul style="border: 1px solid #000">
      <h1 style="font-style: italic;">- {{title}} -</h1>
      <p><b>Precio:</b> usd ${{price}}</p>
      <p><b>Descripción:</b> {{description}}</p>
      <p><b>Categoría:</b> {{category}}</p>
      <p><b>Stock:</b> {{stock}}</p>
    </ul>
  </div>
  {{/each}}
{{else}}.
  <div style="border: 1px solid #000; border-radius: 10px ; padding: 10px"> 
    <h2 style="font-size: 18px">Lo sentimos! Aún no hay productos para mostrar...</h2>  
  </div>
{{/if}}
</section>
